//COMPASS IMPORT
@import "compass/css3";
@import "compass/utilities";

/* SHORTCODES */

/* SOCIAL ICONS */
.social-icons a {
	color: $social-icon-color;
	text-decoration: none;
	width: 35px;
	height: 35px;
	background: $social-icon-bg-color;
	padding: 12px;
	display: inline-block;
	margin: 0 3px 6px 0;
	border-radius: 50%;

	&:hover {
		color: #FFF !important;
	}

}

.social-icons {
	.fa-facebook:hover { background: #3B5998 !important; }
	.fa-twitter:hover { background: #33ccff !important; }
	.fa-pinterest:hover { background: #cb2027 !important; }
	.fa-github:hover { background: #000000 !important; }
	.fa-linkedin:hover { background: #007bb6 !important; }
	.fa-dribbble:hover { background: #EE508D !important; }
	.fa-rss:hover { background: #FF6200 !important; }
	.fa-behance:hover { background: #009CEC !important; }
	.fa-google-plus:hover { background: #dd4b39 !important; }
	.fa-youtube:hover { background: #bb0000 !important; }
	.fa-vimeo-square:hover { background: #44bbff !important; }
	.fa-flickr:hover { background: #ff0084 !important; }
	.fa-skype:hover { background: #00AFF0 !important; }
	.fa-instagram:hover { background: #517fa4 !important; }
	.fa-tumblr:hover { background: #00225F !important; }
}

/* BUTTONS */
.btn {
	font-family: $btn-font-family;
	position: relative;
	color: $btn-text-color;
	text-shadow: none;
	background-color: $btn-primary-bg-color;
	background-image: none;
	border: none;
	box-shadow: 0 4px darken($accent-color, 20%);
	*background-color: $btn-primary-bg-color;
	@include border-radius(0px);
	text-transform: uppercase;
	font-size: $btn-font-size;
	margin-bottom: 3px;
	text-decoration: none;
	border-radius: $btn-radius;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	color: $btn-text-color-hover;
	background-color: $accent-color;
	*background-color: $accent-color;
}

.btn:active,
.btn.active {
	box-shadow: 0 0 darken($accent-color, 20%);
	top: 4px;
	background-color: #fff \9;
}

.btn:hover,
.btn:focus {
	outline: none;
	color: $btn-text-color;
	text-decoration: none;
	box-shadow: 0 2px darken($accent-color, 20%);
	top: 2px;
}

.btn-lg {
	font-size: 13px;
	padding: 12px;
}
.btn-xs {
	font-size: 13px;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
	color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
	color: $btn-text-color;
	text-shadow: none;
	background-color: $accent-color;
	border-color: none;
	*background-color: $accent-color !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled],
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	color: $btn-text-color-hover;
	background-color: $accent-color !important;
	*background-color: $accent-color !important;
}
.btn-primary:active,
.btn-primary.active {
	background-color: $accent-color \9;
}
.btn-warning {
	text-shadow: none;
	background-color: $btn-warning-bg-color !important;
	background-image: none;
	border-color: none;
	*background-color: $btn-warning-bg-color !important;
}
.btn-warning:active,
.btn-warning.active {
	background-color: $btn-warning-bg-color \9 !important;
}
.btn-danger {
	text-shadow: none;;
	background-color: $btn-danger-bg-color !important;
	background-image: none;
	border-color: none;
	*background-color: $btn-danger-bg-color !important;
}
.btn-danger:active,
.btn-danger.active {
	background-color: $btn-danger-bg-color \9 !important;
}
.btn-success {
	text-shadow: none;
	background-color: $btn-success-bg-color !important;
	background-image: none;
	border-color: none;
	*background-color: $btn-success-bg-color !important;
}
.btn-success:active,
.btn-success.active {
	background-color: $btn-success-bg-color \9 !important;
}
.btn-info {
	text-shadow: none;
	background-color: $btn-info-bg-color !important;
	background-image: none;
	border-color: none;
	*background-color: $btn-info-bg-color !important;
}
.btn-info:active,
.btn-info.active {
	background-color: $btn-info-bg-color \9 !important;
}
.btn-inverse {
	color: $btn-text-color;
	text-shadow: none;
	background-color: $btn-inverse-bg-color !important;
	background-image: none;
	border-color: none;
	*background-color: #222222 !important;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
	color: #ffffff;
	background-color: $btn-inverse-bg-color-hover !important;
	*background-color: $btn-inverse-bg-color-hover !important;
}
.btn-inverse:active,
.btn-inverse.active {
	background-color: $btn-inverse-bg-color-hover \9 !important;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
	background-color: transparent !important;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn-link {
	border-color: transparent;
	cursor: pointer;
	color: $btn-link-color;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
	color: $btn-link-color-hover !important;
	text-decoration: underline;
	background-color: transparent;
}

/* TAGS */

.tags {
	margin:0;
	padding:0;
	list-style:none;

	li, a {
		float:left;
		height:24px;
		line-height:24px;
		position:relative;
		font-size:11px;
		margin-bottom: 5px;
	}

	a {
		margin-left: 20px;
		padding: 0 10px 0 12px;
		background: $accent-color;
		color: $primary-color;
		text-decoration: none;
		-moz-border-radius-bottom-right:4px;
		-webkit-border-bottom-right-radius:4px;
		border-bottom-right-radius:4px;
		-moz-border-radius-topright:4px;
		-webkit-border-top-right-radius:4px;
		border-top-right-radius:4px;

		&::before, &::after {
			content:"";
			position:absolute;
			float:left;
		}

		&::before {
			top:0;
			left:-12px;
			width:0;
			height:0;
			border-color:transparent $accent-color transparent transparent;
			border-style:solid;
			border-width:12px 12px 12px 0;
		}

		&::after {
			bottom: 0px;
			top:10px;
			left:0;
			width:4px;
			height:4px;
			-moz-border-radius: $btn-radius;
			-webkit-border-radius: $btn-radius;
			border-radius: $btn-radius;
			background:$primary-color;
			-moz-box-shadow:-1px -1px 2px #004977;
			-webkit-box-shadow:-1px -1px 2px #004977;
			box-shadow:-1px -1px 2px #004977;
		}
	}

}


/* SERVICES */
@mixin service-triangle($size, $color, $bg-color) {
		height: $size;
		width: $size;
		border-top: $size solid $bg-color;
		border-left: $size solid $color;
		@include transition(all 0.5s);
}


.service {
	text-align: center;
	background: $service-bg-color;
	padding: 15px;
	position: relative;

	&::before {
		content:"";
		position: absolute;
		top: 0;
		right: 0;
		@include service-triangle(30px, darken($service-bg-color, 30%), $body-background-color);

		.section-diff & {
			@include service-triangle(30px, darken($service-bg-color, 30%), $section-bg-diff);
		}
	}

	.section-diff & {
		background: lighten($service-bg-color, 10%);
	}

	&:hover::before {
		@include service-triangle(50px, $secondary-color, $body-background-color);

		.section-diff & {
			@include service-triangle(50px, $secondary-color, $section-bg-diff);
		}
	}

	.service-icon {
		font-size: $service-icon-font-size;
		color: $service-icon-color;
		margin-top: 15px;
	}

	.service-header {
		font: $service-header-font;
		color: $service-header-color;
		text-transform: uppercase;
		padding: 25px 0 45px 0;
	}

	.service-desc {
		position: relative;
		padding: 25px 20px;
		margin: -15px;
		color: $service-desc-color;

		&::before {
			content: "";
			position: absolute;
			top: 0px;
			border-bottom: 2px dotted $service-arrow-line-color;
			width: 100%;
			left: 0;
		}


	}

	.service-btn {
		margin: 15px -15px -15px;
		padding: 5px;
		border-top: 1px dashed contrast-color($service-bg-color, darken($service-bg-color, 10%), lighten($service-bg-color, 30%), 50%);

		.btn {
			color: $service-read-more-color;

			&::after {
				font: 11px FontAwesome;
				content: "\2003\f054";
			}
		}
	}
}

/* FLEXSLIDER */

.flexslider {
	background: transparent;
	/* border: 4px solid transparent; */
	border: 0;
	margin: 0;
	@include border-radius(0px);
	@include box-shadow(none);

	.slides img {
		max-width: 100%;
		width: auto;
	}
}

.flex-direction-nav a {
	color: $secondary-color;
	@include text-shadow(none);

	&::before {
		font: 40px FontAwesome;
		content: "\f104";
	}

	&.flex-next::before {
		content: "\f105";
	}
}

.flex-control-paging li a {
	width: 7px;
	height: 7px;
	background: lighten($secondary-color, 70px);
	@include border-radius(4px);
	@include box-shadow(none);
}

.flex-control-paging li a.flex-active {
	background: $secondary-color;
}

.slideshow {
	.flex-control-nav {
		bottom: 0;
	}
}



/* TWITTER */

.tweet {
	text-align: center;

	.tweet_list {
		zoom: 1;
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			display: none;
			-webkit-backface-visibility: hidden;
		}

		img {
			display: block;
		}

		&::after {
			content: "\0020";
			display: block;
			clear: both;
			visibility:
			hidden;
			line-height: 0;
			height: 0;
		}
	}
}

html[xmlns] .tweet_list {display: block;}
* html .tweet_list {height: 1%;}
.no-js .tweet_list > li:first-child {display: block;}

.tweet_text {
	font: $twitter-text-font;
	color: $twitter-text-color;
	display: block;
	margin: 0 auto 10px;
	width: 80%;

	&::before {
		content: "\f099";
		font: 20px FontAwesome;
		display: block;
		margin-bottom: 20px;
		color: $accent-color;
	}
}

.tweet_time {
	font: $twitter-time-font;
	color: $twitter-time-color;
	display: block;
	text-transform: uppercase;
	margin: 0 auto 20px;
}



/* TABS */
.nav-tabs {
	border: none;
}
.nav-tabs > li > a {
	margin-right: 1px;
	border: none;
	@include border-radius(0);
	padding: 15px 20px;
	font: $tabs-header-font;
	text-transform: uppercase;
	text-decoration: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: $secondary-color;
	cursor: default;
	background-color: $tabs-bg-color;
	border: none;

	.section-diff & {
		background-color: $primary-color;
	}
}
.tab-content {
	padding: 20px;
	background-color: $tabs-bg-color;

	.section-diff & {
		background-color: $primary-color;
	}

	p {
		margin: 0;
	}
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: $tabs-bg-color;
	border: none;

	.section-diff & {
		background-color: $primary-color;
	}
}

/* TOOGLE / ACCORDION */
.panel {
	@include box-shadow(none);
	border: none;
	background: $toogle-bg-color;

	.section-diff & {
		background: $primary-color;
	}
}

.panel-body {
	padding: 20px;
}

.panel-group .panel {
	@include border-radius(0px);
}

.panel-heading {
	padding: 0;

	a {
		padding: 15px 20px;
		display: block;
		font: $toogle-header-font;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.panel-default>.panel-heading {
	background: $toogle-bg-color;
	color: $secondary-color;

	.section-diff & {
		background: $primary-color;
	}
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
	border-top: 1px dashed darken($primary-color, 15%);
}

/* PROGRESS BAR */
.progress {
	height: 30px;
	margin-bottom: 15px;
	background-color: $progress-bg-color;
	@include border-radius(0px);
	@include box-shadow(none);

	.section-diff & {
		background-color: $primary-color;
	}
}

.progress-bar {
	font: 13px $secondary-font-family;
	line-height: 30px;
	text-transform: uppercase;
	color: $progress-skill-text-color;
	text-align: left;
	background-color: $progress-skill-bg-color;
	@include box-shadow(none);
	padding: 0px 10px;
}

/* ALERT */
.alert {
	border: none;
	@include border-radius(0px);
}

.alert-warning {
	color: darken($alert-warning-bg-color, 50%);
	background-color: $alert-warning-bg-color;
}

.alert-danger {
	color: darken($alert-danger-bg-color, 50%);
	background-color: $alert-danger-bg-color;
}

.alert-success {
	color: darken($alert-success-bg-color, 50%);
	background-color: $alert-success-bg-color;
}

.alert-info {
	color: darken($alert-info-bg-color, 50%);
	background-color: $alert-info-bg-color;
}

/* ICON BOX */
.icon-box {
	@include pie-clearfix;
	margin-bottom: 35px;

	i {
		float: left;
		font-size: $icon-box-icon-size;
		color: $icon-box-icon-color;
	}
}

.icon-box-content {
	padding-left: $icon-box-icon-size + 15;
	display: block;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 10px;
	}
}
